.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E5D007;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 10px;
}

.Search-header {
  padding-top: 20px;
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.block-1 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #247d3c;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.block-2 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #910000;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.block-3 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #248AEA;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.block-4 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #000000;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.column1 {
  padding-right: 10px;
  text-align: right;
}

.column2 {
  padding-left: 10px;
  text-align: left;
}

.small-text {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
}

.date2 {
  width: 175px;
}

#select {
  width: 175px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  padding-bottom: 15px;
}

#delete {
  color: blue;
}

#results {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#results td, #results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#results tr:nth-child(even){background-color: #f2f2f2;}

#results tr:hover {background-color: #ddd;}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8a8a8a;
  color: black;
}
.modal {
  padding: 12px;
}
#errorMsg {
  padding-bottom: 32px;
}
