.App {
  text-align: center;
}

header {
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.home-header {
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 3vmin);
  padding: 100px;
}

.home-header2 {
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 1vmin);
  padding: 100px;
  padding-bottom: 239px;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
}

.Insert-header {
  display: flex;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
}

.Search-header {
  display: flex;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.block-1 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #247d3c;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.block-2 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #910000;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.block-3 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #248AEA;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.block-4 {
  margin-top: 10px;
  display: block;
  width: 100%;
  border: double;
  background-color: #000000;
  font-size: 28px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.column1 {
  padding-right: 10px;
  text-align: right;
}

.column2 {
  padding-left: 10px;
  text-align: left;
}

.small-text {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
}

#select {
  width: 172px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  padding-bottom: 15px;
}

#delete {
  color: blue;
}

#results {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#results td, #results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#results tr:nth-child(even){background-color: #f2f2f2;}

#results tr:hover {background-color: #ddd;}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8a8a8a;
  color: black;
}
.modal {
  padding: 12px;
}
#errorMsg {
  padding-bottom: 32px;
}
